.hourTemp,.hour{
    margin: 0px;
}
.hourMainDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 170px;
    background-color: rgba(230, 228, 225, 0.082);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.26);

}